

<nav class="navbar navbar-expand-lg navbar-light bg-light footer-navbar">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footer-navbar-NavAltMarkup" aria-controls="footer-navbar-NavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="footer-navbar-NavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{{site.github_url}}">github site</a>
      <a class="nav-item nav-link" href="{{site.github_url}}/edit/master/{{page.path}}">edit this page on github</a>
    </div>
  </div>
</nav>
