<div data-role="header" class="header">

  {% if site.data.navigation.main and site.data.navigation.main.size > 0 %}
 <nav data-role="navbar" >
   <ul>
     {%- for link in site.data.navigation.main limit:4 -%}

       {%- if link.url contains '://' -%}
         {%- assign url = link.url -%}
       {%- else -%}
          {%- if link.baseurl == site.baseurl -%}
             {%- assign url = link.url | relative_url -%}
          {%- else -%}
           {%- capture url -%}{{site.url}}{{site.baseurl}}{{link.url}}{%- endcapture -%}
          {%- endif -%}
       {%- endif -%}
     
     
     <li>
       <a href="{{ url }}" {% if link.description %}title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
     </li>
     {%- endfor -%}
   </ul>
 </nav>
 {% else %}
 <nav data-role="navbar" >
   <ul>
     <a href="{{ '' | relative_url }}">Home</a>
   </ul>
   </nav>
  {% endif %}

   {% if site.data.navigation.main.size > 4 %}
   <nav data-role="navbar" >
   <ul>
     {%- for link in site.data.navigation.main offset:4 -%}
       {%- if link.url contains '://' -%}
         {%- assign url = link.url -%}
       {%- else -%}
         {%- assign url = link.url | relative_url -%}
       {%- endif -%}
     
     <li>
       <a href="{{ url }}" {% if link.description %}title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
     </li>
     {%- endfor -%}
   </ul>
  </nav>
  {% endif %}

 {% if page.layout == "hwk" %}
 <nav data-role="navbar" >
  <ul class="hwk-nav-bar">
   {% for asn in site.hwk %}
    <li><a href="{{asn.url | relative_url }}">{{asn.num}}</a></li>
   {% endfor %}
   </ul>
  </nav>
 {% endif %}
</div>
