<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {%- for link in site.data.navigation.main -%}

       {%- if link.url contains '://' -%}
         {%- assign url = link.url -%}
       {%- else -%}
         {%- if link.baseurl == site.baseurl -%}
             {%- assign url = link.url | relative_url -%}
         {%- else -%}
             {%- capture url -%}{{production_url}}{{link.baseurl}}{{link.url}}{%- endcapture -%}
         {%- endif -%}
       {%- endif -%}

      <a  class="nav-item nav-link " href="{{ url }}" {% if link.description %}title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
      {%- endfor -%}
    </div>
  </div>
  </nav>

