{% if site.data.navigation.production_url %}
  {% assign production_url = site.data.navigation.production_url %}
{% else %}
  {% assign production_url = site.url %}
{% endif %}

{% if site.data.navigation.home.url %}
  {% assign home_url = site.data.navigation.home_url %}
{% else %}
  {% assign home_url = site.url %}
{% endif %}

{%- if home_url contains '://' -%}
  {%- assign home_url_final = home_url -%}
{%- else -%}
  {%- if home_url == "" or home.url =="/" -%}
    {%- assign home_url_final = home_url | relative_url -%}
  {%- else -%}
     {%- capture home_url_final -%}{{production_url}}{{home_url}}{%- endcapture -%}
  {%- endif -%}
{%- endif -%}

{% if site.data.navigation.offerings.url %}
  {% assign offering_url = site.data.navigation.offerings.url %}
{% else %}
  {% assign offering_url = "#" %}
{% endif %}

{% if site.data.navigation.offerings.baseurl %}
  {% assign offering_baseurl = site.data.navigation.offerings.baseurl %}
{% else %}
  {% assign offering_baseurl = "/" %}
{% endif %}

{%- if offering_baseurl contains '://' -%}
  {%- assign offering_url_final = offering_baseurl -%}
{%- else -%}
  {%- if offering_baseurl == site.baseurl -%}
    {%- assign offering_url_final = offering_url | relative_url -%}
  {%- else -%}
     {%- capture offering_url_final -%}{{production_url}}{{offering_baseurl}}{{offering_url}}{%- endcapture -%}
  {%- endif -%}
{%- endif -%}
