---
layout: null
---	    

div.print-navbar li.dropdown {
    display:none;
}

div.print-navbar ul li {
    display: inline;
    padding-right: 1em;
}

div.print-navbar ul li {
    display: inline;
    padding-right: 1em;
}

.print-navbar-offering-title {
    padding-left: 3em;
    padding-right: 1em;
    font-weight: bold;
}
nav button {
    display: none;
}


@media print {
    div.print-navbar {
	display: none;
    }
    nav {
	display: none;
    }
}

