<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    
  <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
  </head>
  <body id="page-top">
    <div id="container" data-role="page">
    {% include nav.html %}
    <div id="content"  class="ui-content">
    {{ content }}
    </div><!-- content -->
    {% include footer/custom.html %}
    {% include_cached footer.html %}
    </div><!-- container -->
  </body>
</html>
