<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">
  <head>
  {% include head.html %} 
  {% include head/custom.html %}
  <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
  </head>
  <body id="page-top">
    <div id="container" data-role="page">
    {% include nav.html %}
    <div id="content"  class="ui-content">
    <h1>{{ page.topic}}</h1>
    <p class="topic-summary">{{ page.desc }}</p>
      {% if page.topic_index_top and page.category_prefix %}
        {% include category_index.html %}
      {% endif %}    
      {{ content }}
      {% if page.category_prefix %}
        {% include category_index.html %}
      {% endif %}    
    </div><!-- content -->
    {% include footer.html %}
    {% include footer.html %}
    </div><!-- container -->
  </body>
</html>
